body {
    /* This style below will be inherited */
    font-family: Roboto, Arial, sans-serif;
    margin: 0px;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: white;
}